MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/riderModule.iml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/contentModel.xml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/indexLayout.xml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/misc.xml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/modules.xml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/vcs.xml
MoneyTrackerAppSol/.idea/.idea.MoneyTrackerAppSol/.idea/workspace.xml
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/BasicWebServerLib.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/BasicWebServerLib.pdb
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/LiteDB.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/LiteDB.xml
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/Microsoft.Office.Interop.Excel.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/MoneyTrackerApp.exe
MoneyTrackerAppSol/MoneyTrackerApp/bin/Debug/MoneyTrackerApp.pdb
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/BasicWebServerLib.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/BasicWebServerLib.pdb
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/LiteDB.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/LiteDB.xml
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/Microsoft.Office.Interop.Excel.dll
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/MoneyTrackerApp.exe
MoneyTrackerAppSol/MoneyTrackerApp/bin/Release/MoneyTrackerApp.pdb
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.csproj.CopyComplete
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.csproj.CoreCompileInputs.cache
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.csproj.FileListAbsolute.txt
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.csprojAssemblyReference.cache
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.exe
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/MoneyTrackerApp.pdb
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MoneyTrackerAppSol/MoneyTrackerApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.csproj.CopyComplete
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.csproj.CoreCompileInputs.cache
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.csproj.FileListAbsolute.txt
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.csprojAssemblyReference.cache
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.exe
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/MoneyTrackerApp.pdb
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MoneyTrackerAppSol/MoneyTrackerApp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MoneyTrackerAppSol/packages/LiteDB.4.1.4/.signature.p7s
MoneyTrackerAppSol/packages/LiteDB.4.1.4/LiteDB.4.1.4.nupkg
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.dll
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.xml
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.dll
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.xml
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.dll
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.xml
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.dll
MoneyTrackerAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.xml
MoneyTrackerAppSol/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/.signature.p7s
MoneyTrackerAppSol/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/Microsoft.Office.Interop.Excel.15.0.4795.1000.nupkg
MoneyTrackerAppSol/packages/Microsoft.Office.Interop.Excel.15.0.4795.1000/lib/net20/Microsoft.Office.Interop.Excel.dll
